* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  max-width: 1140px;
  margin: 80px auto 0;
  background: var(--background-default);
  padding: 0 10px;
}

:root {
  --background-default: #f5f4f0;
  --border-primary: #d9d9d9;

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;

  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
}

.headline {
  color: var(--text-headline);
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--text-primary);
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-primary);
}

h3 {
  font-weight: bold;
  font-size: 1.75rem;
  color: var(--text-primary);
}

.paragraph {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-secondary);
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: var(--text-secondary);
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: 28px;
}

header div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.divider {
  height: 0.0625rem;
  background: var(--border-primary);
  margin: 2.5rem 0;
}

article img {
  height: 350px;
  object-fit: cover;
  object-position: center;
}

article:last-child img {
  object-position: center bottom;
}

article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

article ul {
  padding-left: 25px;
}

main header {
  margin-bottom: 64px;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

main > footer {
  text-align: center;
}

.site-footer {
  margin: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
